body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #006DAB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #00548C;
}
.error-message {
    color: red;
    margin-top: 5px;
}
.success-message {
    color: green;
    margin-top: 5px;
}
* {
    margin: 0;
    padding: 0;
    
}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006DAB;
    color: white;
    padding: 10px;
}

.topnav h1 {
    margin: 0;
}

.topnav .navbar-links {
    display: flex;
}

.topnav .navbar-links a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}